[Unit]
Description=easytier client on boot
After=network.target

[Service]
Type=simple
Environment=ET_NETWORK_NAME=NAME
Environment=ET_NETWORK_SECRET=PASSW
Environment=ET_PEER_ENDPOINT=ENDPOINT:PORT
Environment=ET_IPV4=IP
ExecStart=/root/easytier-linux-x86_64/easytier-core \
    --network-name ${ET_NETWORK_NAME} \
    --network-secret ${ET_NETWORK_SECRET} \
    -p tcp://${ET_PEER_ENDPOINT} \
    --ipv4 ${ET_IPV4} \
    -l tcp://0.0.0.0:11010 \
    --default-protocol tcp \
    --p2p-only 
Restart=on-failure

[Install]
WantedBy=multi-user.target